header {
    background-color: #334;
    color: #fff;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex-grow: 1;
    text-align: left;
}

nav h1 {
    font-size: 19px;
    margin: 10px 0;
    text-align: center;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 15px;
    margin: 6px;
    transition: .1s;
}

.menu-toggle {
    display: inline-block;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    transition: transform 0.3s ease;
    transform: translateX(-103%);
    position: absolute;
    top: 70px;
    left: 8px;
    background-color: #334;
    flex-direction: column;
    width: 80%;
    max-width: 250px;
    z-index: 1;
}

.menu.active {
    transform: translateX(0%);
}

.menu li {
    margin: 10px 0;
    padding-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 20px auto;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #333;
}

p {
    color: auto;
}

footer {
    background-color: #334;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
